VITE_HTTPS=false
VITE_SERVER_URL=http://192.168.x.103:5109
VITE_GRAFANA_URL=http://192.168.x.106:3000
VITE_DEV_MODE=true
xVITE_LANGFUSE_URL=http://192.168.x.108:3001/project/cmitxxxxxxx
VITE_MINIO_PUBLIC_URL=http://192.168.x.101:9000/virtualpytest/