VITE_SERVER_URL=http://localhost:5109
VITE_GRAFANA_URL=http://localhost:3000
VITE_DEV_MODE=true
VITE_MINIO_PUBLIC_URL=http://localhost:9000/virtualpytest/
xVITE_SUPABASE_URL=http://localhost:xxx
xVITE_SUPABASE_ANON_KEY=eyJhbxxx
xVITE_LANGFUSE_URL=http://localhost:3001/project/cmitxxxxxxx