<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.virtualpytest.vnc</string>
    <key>ProgramArguments</key>
    <array>
        <string>/System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart</string>
        <string>-activate</string>
        <string>-configure</string>
        <string>-access</string>
        <string>-on</string>
        <string>-users</string>
        <string>@USER@</string>
        <string>-privs</string>
        <string>-all</string>
        <string>-restart</string>
        <string>-agent</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>